:root {
  --main-light-color: ;
  --main-font-color: ;
  --secondory-font-color: ;
  --accent-color: ;
  --secondary-accent-color: ;
  --logo-color: ;
  --border-bg-color: ;
  --section-team-bg-color: ;
}

body {
  color: #434455;
  background-color: #ffffff;
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-style: normal;
}

.logo-text {
  color: #4d5ae5;
  text-decoration: none;
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  line-height: 1.6;
  letter-spacing: 0.54px;
}

.logo {
  color: #2e2f42;
  text-decoration: none;
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  text-transform: uppercase;
  line-height: 1.6;
  letter-spacing: 0.54px;
}

ul {
  list-style-type: none;
}

.bar-studio,
.bar-portfolio,
.bar-contacts {
  color: #2e2f42;
  text-decoration: none;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.32px;
}

.link-email,
.link-tel {
  color: #434455;
  text-decoration: none;
  font-weight: 400;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: 0.32px;
}

.main-screen {
  background-color: #2e2f42;
}

.genneral {
  color: #ffffff;
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 1.12px;
}

.genneral-button {
  font-weight: 500;
  background-color: #4d5ae5;
  color: #ffffff;
  line-height: 1.5;
  letter-spacing: 0.64px;
  border: none;
  cursor: pointer;
}

.genneral-button:hover,
.genneral-button:focus {
  font-weight: 500;
  background-color: #404bbf;
  color: #ffffff;
  line-height: 1.5;
  letter-spacing: 0.64px;
  border: none;
}

h3 {
  color: #2e2f42;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.4px;
}

p {
  color: #434455;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.32px;
}

h2 {
  color: #2e2f42;
  text-align: center;
  font-family: Roboto;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.72px;
  text-transform: capitalize;
}

.team {
  background-color: #f4f4fd;
}

.our-people {
  background-color: #ffffff;
}

.our-people h3 {
  text-align: center;
  color: #2e2f42;
}

.our-people p {
  text-align: center;
}

.foot {
  background-color: #2e2f42;
}

.logo-text {
  color: #4d5ae5;
  text-decoration: none;
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  line-height: 1.6;
  letter-spacing: 0.54px;
}

.logo-2 {
  color: #f4f4fd;
  text-decoration: none;
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  text-transform: uppercase;
  line-height: 1.6;
  letter-spacing: 0.54px;
}

.info {
  color: #f4f4fd;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.32px;
}

.younger-menu1 > li > button {
  color: #4d5ae5;
  background-color: #f4f4fd;
  border: none;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.64px;
}

.product > li > h3 {
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.4px;
}

.product > li > p {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.32px;
}
